
{% extends "layout.html"%}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for order in transactions %}
            <tr>
                <td class="text-start"> {{ order["symbol"] }}</td>
                <td class="text-end"> {{ order["shares"] }}</td>
                <td class="text-end"> {{ order["price"] | usd}}</td>
                <td class="text-end"> {{ order["timestamp"]}} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
