{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{% block main %}
    <form action='/sell' method='post'>
        <div class="mb-3">
            <select name='symbol' placeholder='Symbol' class="form-select mx-auto w-auto">
                <option disabled selected>Symbol</option>
                {% for symbol in symbols %}
                    <option value = {{ symbol }} > {{ symbol }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input name='shares' type='number'
            min=1 placeholder='Share' autocomplete='off' class="form-control mx-auto w-auto">
        </div>

        <button type='submit' class="btn btn-primary"> Sell </button>
    </form>
{% endblock %}
